<div class="nav-header">
    <div class="w-full header-container flex gap-4 text-lg">
        <div class="header font-semibold" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{'exact':true}">
            {{title}}
        </div>
        <div class="header" routerLink="/counter" routerLinkActive="active">Counter</div>
        <div class="header" routerLink="/posts" routerLinkActive="active">Posts</div>
        <div class="header" routerLink="/file" routerLinkActive="active">File</div>
        <div class="header" routerLink="/auth" routerLinkActive="active">Login</div>
        <div class="header" routerLink="/tform" routerLinkActive="active">UserForm</div>
        <div class="header" routerLink="/rngform" routerLinkActive="active">ReactFrmGrpForm</div>
        <div class="header" routerLink="/arrform" routerLinkActive="active">FormArr</div>
        <div class="header" routerLink="/formBuild" routerLinkActive="active">FormBuild</div>
    </div>
</div>