<div class="posts-container w-full flex flex-wrap">
    <div class="min-w-[60%] flex flex-col gap-4">
        <div routerLink="add" class="w-fit bg-blue-500 p-2 rounded border"><span>Add Post</span></div>
        <table appPostDirective class="w-full post-table" *ngIf="posts$ |async  as postsData">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>UserName</th>
                    <th>Description</th>
                    <th>Rating</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of postsData">
                    <td>{{post.id}}</td>
                    <td>{{post.name}}</td>
                    <td>{{post.description}}</td>
                    <td><app-rating [star]="5"></app-rating> </td>
                    <td><button class="py-2 px-2 bg-blue-400 mx-2" [routerLink]="['edit',post.id]">Update</button>
                        <button class="py-2 px-2 bg-red-400" (click)="deletePost(post.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <router-outlet></router-outlet>
</div>